.widget_litk_widget {
	position: relative;

	> .collapse-subpages,
	> .sort-alphabetically { display: none; }

	/* List styling */
	.subpages {
		margin: 0;	

		/* Item styling */
		li {
			position: relative;
			display: block;
			list-style: none;
		    clear: both;
		    
		    /* Link around the image and the text */
			a {
				position: relative;
				display: block;
				width: 100%;
				padding: 10px 40px;

				color: #1a1a1a;
				font-size: 14px;
				font-family: Montserrat, "Helvetica Neue", sans-serif;

			    -webkit-box-shadow: 0px 2px 4px rgba(50,50,50,0.15);
			    -moz-box-shadow: 0px 2px 4px rgba(50,50,50,0.15);
			    box-shadow: 0px 2px 4px rgba(50,50,50,0.15);

			    border-bottom: 2px solid #888;
				
				&:hover { background-color: #f7f7f7; }

				/* Text styling */
				span { 
					display: inline-block; 
				    padding: 5px 0;
				}

				/* Image styling */
				.feature_image {
					display: inline-block;
					margin-right: 6px;

					width: auto;
					max-width: 30px;
					
					height: auto;
					max-height: 30px;
				}
			}

			/* Sort links styling */
			.sort-alphabetically {
				position: absolute;
				top: 15px;
				right: 9px;

				.sort-asc,
				.sort-desc {
					display: block;
				    color: #666;
				    font-size: 9px;
				    font-weight: bold;
				    font-family: Montserrat, "Helvetica Neue", sans-serif;
				    
				    &:hover { cursor: pointer; }
				}
			}
		}

		/* Collapse list arrow */
		.collapse-subpages {
		    position: absolute;
			padding: 0px 15px;
			top: 8px;
			left: 0;
			font-size: 23px;

		    &:hover { cursor: pointer; }
		}
	}

	/* Level styling - margin */
	.subpages .subpages { margin-left: 20px; } 
}